<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.firebase_conn_demo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".joinChatroom"></activity>
        <activity android:name=".AddChatRoom" />
        <activity android:name=".AddContact" />
        <activity android:name=".forgetPassword" />
        <activity android:name=".Contact" />
        <activity android:name=".Register" />
        <activity
            android:name=".NavDrawer_Activity"
            android:label="@string/title_activity_nav_drawer_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Login" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>